:root {
    --color-white: #ffffff;
    --color-charcoal: #373f47;
    --color-chamoisee: #a77e58;
}

body {
    background-color: var(--color-white);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-msg {
    text-align: center;
    margin-top: 16px;
    margin: 0 auto;
    padding: 8px;
    color: var(--color-white);
    background-color: var(--color-charcoal);
    border-radius: 8px;
    width: 80%;
}

.form-container {
    background-color: var(--color-charcoal);
    border: 1px solid var(--color-chamoisee);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
